.dot {
	width: 10px;
	position: absolute;
	height: 10px;
	background-color: #222;
	border-radius: 50%;
	transform: scale(0);
	transition: 220ms;
	transition-timing-function: linear;
	z-index: 3;
}

.dot.show-dot {
	transform: scale(1);
}

.line {
    position: absolute;
    height: 2px;
    background-color: #222;
    transform-origin: left;
    transition: 150ms;
    transition-timing-function: linear;
    width: 0;
	z-index: 2;
}

.bar {
    position: absolute;
    height: 0;
    background-color: blue;
    /*transform-origin: left;*/
    transition: 200ms;
    transition-timing-function: linear;
    width: 15px;
    border-radius: 2px 2px 0 0;
    bottom: 0;
	z-index: 1;
}

.chart-gen-container-ref {
	width: 100%;
	height: 100%;
	position: relative;
}

.chart-gen-container-ref.chart-gen-container {
	position: absolute;
}